* {
    font-family: Ubuntu, sans-serif;
    margin: 0;
}

body {
    background-image: url("img/mountain-and-stars-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 0px;
    background-repeat: no-repeat;
}

.pageHeader {
    padding-top: 10px;
    padding-bottom: 10px;
    width: auto;
    
    background-color: rgba(0, 0, 0, 0.2);
}

.pageHeader h1 {
    color: #FFF;
    text-align: center;
    font-size: 16px;
}