#listsContainer {
    width: 100%;
    margin-top: 20px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#createNewList {
    margin-left: 20px;
}

#createNewListButton {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    
    background-color: rgba(0, 0, 0, 0.3);   
    border-style: none;
    border-radius: 5px;
    
    color: #FFF;
    text-align: center;
    font-size: 14px;
}

#createNewListButton:hover {
    background-color: rgb(223, 223, 223);

    color: #241a55;

    cursor: pointer;
}

#listsContainer .list {
    width: 19%;

    margin-left: 20px;
    padding-bottom: 10px;

    border-radius: 5px;
    background-color: #EBECF0;

    display: flex;
    flex-direction: column;
}

.listHeader {
    padding: 10px;

    display: flex;
    flex-direction: row;
}

.listHeader .listTitle h2 {
    text-align: left;
    font-size: 15px;
    width: 160px;
    color: #3E2B4D;
}

.listHeader .editDiv {
    margin-left: 18px;
}

.listHeader .deleteDiv {
    margin-left: 8px;
}

.editDiv img { 
    width: 16px;
    opacity: 0.6;
}

.deleteDiv img { 
    width: 16px;
    opacity: 0.6;
}

.editDiv img:hover {
    width: 18px;
    opacity: 1;
}

.deleteDiv img:hover {
    width: 18px;
    opacity: 1;
}

.list .createNewCard {
    text-align: center;
}

.list .createNewCard .createNewCardButton {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: auto;
    
    background-color: #EBECF0;
    border-style: none;
    border-radius: 5px;
    
    color: #787390;
    text-align: center;
    font-size: 14px;
}

.list .createNewCard .createNewCardButton:hover {
    background-color: rgb(223, 223, 223);

    color: #241a55;

    cursor: pointer;
}